<!-- [START] HTML Accordion -->
<div class="mt-20 grid gap-4">
	<!-- Accrodion Item -->
	<div
		class="accordion-item group flex cursor-pointer flex-col border border-black/50"
	>
		<!-- Accrodion Trigger -->
		<div class="accordion-trigger flex w-full items-center justify-between p-2">
			<span class="text-md">Accordion Trigger</span>
			<!-- Icon -->
			<div class="flex">
				<!-- Arrow Icon -->
				<svg
					class="accordion-img h-2 w-4 transition-transform duration-300 group-[.active]:rotate-180"
					viewBox="0 0 13 8"
					fill="none"
					xmlns="http://www.w3.org/2000/svg"
				>
					<path
						d="M6.50004 7.59904C6.36115 7.59904 6.22643 7.573 6.09587 7.52091C5.96532 7.46883 5.85698 7.39939 5.77087 7.31258L0.979207 2.52091C0.788235 2.32994 0.692749 2.08689 0.692749 1.79175C0.692749 1.49661 0.788235 1.25355 0.979207 1.06258C1.17018 0.871609 1.41324 0.776123 1.70837 0.776123C2.00351 0.776123 2.24657 0.871609 2.43754 1.06258L6.50004 5.12508L10.5625 1.06258C10.7535 0.871609 10.9966 0.776123 11.2917 0.776123C11.5868 0.776123 11.8299 0.871609 12.0209 1.06258C12.2118 1.25355 12.3073 1.49661 12.3073 1.79175C12.3073 2.08689 12.2118 2.32994 12.0209 2.52091L7.22921 7.31258C7.12504 7.41675 7.01219 7.49071 6.89067 7.53446C6.76914 7.57821 6.63893 7.59973 6.50004 7.59904Z"
						fill="black"
					/>
				</svg>

				<!-- Plus icon -->
				<div class="w-3">
					<span
						class="flex h-[2px] translate-y-[2px] rotate-90 bg-black transition-transform group-[.active]:rotate-0"
					></span>
					<span class="flex h-[2px] bg-black"></span>
				</div>
			</div>
		</div>

		<!-- Accrodion Content -->
		<div class="accordion-content hidden p-4">
			Lorem ipsum, dolor sit amet consectetur adipisicing elit. Autem, minus?
			Lorem ipsum, dolor sit amet consectetur adipisicing elit. Autem,
			minus?Lorem ipsum, dolor sit amet consectetur adipisicing elit. Autem,
			minus?Lorem ipsum, dolor sit amet consectetur adipisicing elit. Autem,
			minus?Lorem ipsum, dolor sit amet consectetur adipisicing elit. Autem,
			minus?Lorem ipsum, dolor sit amet consectetur adipisicing elit. Autem,
			minus?Lorem ipsum, dolor sit amet consectetur adipisicing elit. Autem,
			minus?
		</div>
	</div>

	<!-- Accrodion Item -->
	<div
		class="accordion-item group flex cursor-pointer flex-col border border-black/50"
	>
		<!-- Accrodion Trigger -->
		<div class="accordion-trigger flex w-full items-center justify-between p-2">
			<span class="text-md">Accordion Trigger</span>

			<!-- Icon -->
			<div class="flex">
				<!-- Arrow Icon -->
				<svg
					class="accordion-img h-2 w-4 transition-transform duration-300 group-[.active]:rotate-180"
					viewBox="0 0 13 8"
					fill="none"
					xmlns="http://www.w3.org/2000/svg"
				>
					<path
						d="M6.50004 7.59904C6.36115 7.59904 6.22643 7.573 6.09587 7.52091C5.96532 7.46883 5.85698 7.39939 5.77087 7.31258L0.979207 2.52091C0.788235 2.32994 0.692749 2.08689 0.692749 1.79175C0.692749 1.49661 0.788235 1.25355 0.979207 1.06258C1.17018 0.871609 1.41324 0.776123 1.70837 0.776123C2.00351 0.776123 2.24657 0.871609 2.43754 1.06258L6.50004 5.12508L10.5625 1.06258C10.7535 0.871609 10.9966 0.776123 11.2917 0.776123C11.5868 0.776123 11.8299 0.871609 12.0209 1.06258C12.2118 1.25355 12.3073 1.49661 12.3073 1.79175C12.3073 2.08689 12.2118 2.32994 12.0209 2.52091L7.22921 7.31258C7.12504 7.41675 7.01219 7.49071 6.89067 7.53446C6.76914 7.57821 6.63893 7.59973 6.50004 7.59904Z"
						fill="black"
					/>
				</svg>

				<!-- Plus icon -->
				<div class="w-3">
					<span
						class="flex h-[2px] translate-y-[2px] rotate-90 bg-black transition-transform group-[.active]:rotate-0"
					></span>
					<span class="flex h-[2px] bg-black"></span>
				</div>
			</div>
		</div>

		<!-- Accrodion Content -->
		<div class="accordion-content hidden p-4">
			Lorem ipsum, dolor sit amet consectetur adipisicing elit. Autem, minus?
		</div>
	</div>
</div>
<!-- [END] HTML Accordion -->

<!-- [START] JavaScript Accordion -->
<script>
	// !!!! SLIDE ANIMATION REQUIRED !!!!!
	// Accodrion
	function accordion() {
		const items = document.querySelectorAll('.accordion-item')
		const triggers = document.querySelectorAll('.accordion-trigger')
		const contents = document.querySelectorAll('.accordion-content')

		triggers.forEach((trigger, idx) => {
			if (items[0].classList.contains('active')) {
				slideDown(contents[0])
			}
			trigger.addEventListener('click', () => {
				const parent = trigger.parentNode

				if (!parent.classList.contains('active')) {
					// If you want only one to be open at a time, and others to close - UNCOMMENT the code below.
					// Если нужно что бы открывался ТОЛЬКО один, а остальные закрывались - РАСКОММЕНТИРУЙ код ниже

					// items.forEach((item, i) => {
					// 	if (i !== idx && item.classList.contains('active')) {
					// 		slideUp(contents[i])
					// 		item.classList.remove('active')
					// 	}
					// })

					// Open the current accordion item
					// Открыть текущий пункт аккордеона
					parent.classList.add('active')
					slideDown(contents[idx])
				} else {
					// Close the current accordion item
					// Закрыть текущий пункт аккордеона
					parent.classList.remove('active')
					slideUp(contents[idx])
				}
			})
		})
	}

	accordion()
</script>
<!-- [END] JavaScript Accordion -->
