<!-- Grid -->
<section class="mt-4 w-full columns-3 space-y-4 md:columns-2">
	<div class="break-inside-avoid rounded-lg bg-darkgrey p-2">
		<table class="w-full table-auto overflow-y-auto">
			<thead class="text-body-xs border-b border-b-table-border text-greytext">
				<tr>
					<th class="w-20 py-[5px] px-[10px]">Team/Player</th>
					<th class="py-[5px] px-[10px]">Last</th>
					<th class="py-[5px] px-[10px]">Bid</th>
					<th class="py-[5px] px-[10px]">Ask</th>
					<th class="py-[5px] px-[10px] text-right">My Positions</th>
				</tr>
			</thead>
			<tbody class="text-body-s h-full max-h-[500px] w-full overflow-y-auto">
				<tr class="live-row low cursor-pointer rounded-lg hover:bg-lightgrey">
					<td class="whitespace-nowrap py-[5px] px-[10px] text-lightblue">
						United States
					</td>
					<td class="py-[5px] px-[10px] text-lightblue">68</td>
					<td class="py-[5px] px-[10px] text-lightred">69.5</td>
					<td class="py-[5px] px-[10px] text-lightgreen">70</td>
					<td class="py-[5px] px-[10px] text-right">+8</td>
				</tr>
				<tr class="live-row high cursor-pointer rounded-lg hover:bg-lightgrey">
					<td class="whitespace-nowrap py-[5px] px-[10px]">Germany</td>
					<td class="py-[5px] px-[10px]">68</td>
					<td class="py-[5px] px-[10px]">69.5</td>
					<td class="py-[5px] px-[10px]">70</td>
					<td class="py-[5px] px-[10px] text-right">+8</td>
				</tr>
				<tr class="live-row cursor-pointer rounded-lg hover:bg-lightgrey">
					<td class="whitespace-nowrap py-[5px] px-[10px]">Germany</td>
					<td class="py-[5px] px-[10px]">68</td>
					<td class="py-[5px] px-[10px]">69.5</td>
					<td class="py-[5px] px-[10px]">70</td>
					<td class="py-[5px] px-[10px] text-right">+8</td>
				</tr>
				<tr class="live-row low cursor-pointer rounded-lg hover:bg-lightgrey">
					<td class="whitespace-nowrap py-[5px] px-[10px] text-lightblue">
						United States
					</td>
					<td class="py-[5px] px-[10px] text-lightblue">68</td>
					<td class="py-[5px] px-[10px] text-lightred">69.5</td>
					<td class="py-[5px] px-[10px] text-lightgreen">70</td>
					<td class="py-[5px] px-[10px] text-right">+8</td>
				</tr>
				<tr class="live-row high cursor-pointer rounded-lg hover:bg-lightgrey">
					<td class="whitespace-nowrap py-[5px] px-[10px]">Germany</td>
					<td class="py-[5px] px-[10px]">68</td>
					<td class="py-[5px] px-[10px]">69.5</td>
					<td class="py-[5px] px-[10px]">70</td>
					<td class="py-[5px] px-[10px] text-right">+8</td>
				</tr>
				<tr class="live-row cursor-pointer rounded-lg hover:bg-lightgrey">
					<td class="whitespace-nowrap py-[5px] px-[10px]">Germany</td>
					<td class="py-[5px] px-[10px]">68</td>
					<td class="py-[5px] px-[10px]">69.5</td>
					<td class="py-[5px] px-[10px]">70</td>
					<td class="py-[5px] px-[10px] text-right">+8</td>
				</tr>
				<tr class="live-row low cursor-pointer rounded-lg hover:bg-lightgrey">
					<td class="whitespace-nowrap py-[5px] px-[10px] text-lightblue">
						United States
					</td>
					<td class="py-[5px] px-[10px] text-lightblue">68</td>
					<td class="py-[5px] px-[10px] text-lightred">69.5</td>
					<td class="py-[5px] px-[10px] text-lightgreen">70</td>
					<td class="py-[5px] px-[10px] text-right">+8</td>
				</tr>
				<tr class="live-row high cursor-pointer rounded-lg hover:bg-lightgrey">
					<td class="whitespace-nowrap py-[5px] px-[10px]">Germany</td>
					<td class="py-[5px] px-[10px]">68</td>
					<td class="py-[5px] px-[10px]">69.5</td>
					<td class="py-[5px] px-[10px]">70</td>
					<td class="py-[5px] px-[10px] text-right">+8</td>
				</tr>
				<tr class="live-row cursor-pointer rounded-lg hover:bg-lightgrey">
					<td class="whitespace-nowrap py-[5px] px-[10px]">Germany</td>
					<td class="py-[5px] px-[10px]">68</td>
					<td class="py-[5px] px-[10px]">69.5</td>
					<td class="py-[5px] px-[10px]">70</td>
					<td class="py-[5px] px-[10px] text-right">+8</td>
				</tr>
				<tr class="live-row low cursor-pointer rounded-lg hover:bg-lightgrey">
					<td class="whitespace-nowrap py-[5px] px-[10px] text-lightblue">
						United States
					</td>
					<td class="py-[5px] px-[10px] text-lightblue">68</td>
					<td class="py-[5px] px-[10px] text-lightred">69.5</td>
					<td class="py-[5px] px-[10px] text-lightgreen">70</td>
					<td class="py-[5px] px-[10px] text-right">+8</td>
				</tr>
				<tr class="live-row high cursor-pointer rounded-lg hover:bg-lightgrey">
					<td class="whitespace-nowrap py-[5px] px-[10px]">Germany</td>
					<td class="py-[5px] px-[10px]">68</td>
					<td class="py-[5px] px-[10px]">69.5</td>
					<td class="py-[5px] px-[10px]">70</td>
					<td class="py-[5px] px-[10px] text-right">+8</td>
				</tr>
				<tr class="live-row cursor-pointer rounded-lg hover:bg-lightgrey">
					<td class="whitespace-nowrap py-[5px] px-[10px]">Germany</td>
					<td class="py-[5px] px-[10px]">68</td>
					<td class="py-[5px] px-[10px]">69.5</td>
					<td class="py-[5px] px-[10px]">70</td>
					<td class="py-[5px] px-[10px] text-right">+8</td>
				</tr>
				<tr class="live-row low cursor-pointer rounded-lg hover:bg-lightgrey">
					<td class="whitespace-nowrap py-[5px] px-[10px] text-lightblue">
						United States
					</td>
					<td class="py-[5px] px-[10px] text-lightblue">68</td>
					<td class="py-[5px] px-[10px] text-lightred">69.5</td>
					<td class="py-[5px] px-[10px] text-lightgreen">70</td>
					<td class="py-[5px] px-[10px] text-right">+8</td>
				</tr>
				<tr class="live-row high cursor-pointer rounded-lg hover:bg-lightgrey">
					<td class="whitespace-nowrap py-[5px] px-[10px]">Germany</td>
					<td class="py-[5px] px-[10px]">68</td>
					<td class="py-[5px] px-[10px]">69.5</td>
					<td class="py-[5px] px-[10px]">70</td>
					<td class="py-[5px] px-[10px] text-right">+8</td>
				</tr>
				<tr class="live-row cursor-pointer rounded-lg hover:bg-lightgrey">
					<td class="whitespace-nowrap py-[5px] px-[10px]">Germany</td>
					<td class="py-[5px] px-[10px]">68</td>
					<td class="py-[5px] px-[10px]">69.5</td>
					<td class="py-[5px] px-[10px]">70</td>
					<td class="py-[5px] px-[10px] text-right">+8</td>
				</tr>
				<tr class="live-row low cursor-pointer rounded-lg hover:bg-lightgrey">
					<td class="whitespace-nowrap py-[5px] px-[10px] text-lightblue">
						United States
					</td>
					<td class="py-[5px] px-[10px] text-lightblue">68</td>
					<td class="py-[5px] px-[10px] text-lightred">69.5</td>
					<td class="py-[5px] px-[10px] text-lightgreen">70</td>
					<td class="py-[5px] px-[10px] text-right">+8</td>
				</tr>
				<tr class="live-row high cursor-pointer rounded-lg hover:bg-lightgrey">
					<td class="whitespace-nowrap py-[5px] px-[10px]">Germany</td>
					<td class="py-[5px] px-[10px]">68</td>
					<td class="py-[5px] px-[10px]">69.5</td>
					<td class="py-[5px] px-[10px]">70</td>
					<td class="py-[5px] px-[10px] text-right">+8</td>
				</tr>
				<tr class="live-row cursor-pointer rounded-lg hover:bg-lightgrey">
					<td class="whitespace-nowrap py-[5px] px-[10px]">Germany</td>
					<td class="py-[5px] px-[10px]">68</td>
					<td class="py-[5px] px-[10px]">69.5</td>
					<td class="py-[5px] px-[10px]">70</td>
					<td class="py-[5px] px-[10px] text-right">+8</td>
				</tr>
				<tr class="live-row low cursor-pointer rounded-lg hover:bg-lightgrey">
					<td class="whitespace-nowrap py-[5px] px-[10px] text-lightblue">
						United States
					</td>
					<td class="py-[5px] px-[10px] text-lightblue">68</td>
					<td class="py-[5px] px-[10px] text-lightred">69.5</td>
					<td class="py-[5px] px-[10px] text-lightgreen">70</td>
					<td class="py-[5px] px-[10px] text-right">+8</td>
				</tr>
				<tr class="live-row high cursor-pointer rounded-lg hover:bg-lightgrey">
					<td class="whitespace-nowrap py-[5px] px-[10px]">Germany</td>
					<td class="py-[5px] px-[10px]">68</td>
					<td class="py-[5px] px-[10px]">69.5</td>
					<td class="py-[5px] px-[10px]">70</td>
					<td class="py-[5px] px-[10px] text-right">+8</td>
				</tr>
				<tr class="live-row cursor-pointer rounded-lg hover:bg-lightgrey">
					<td class="whitespace-nowrap py-[5px] px-[10px]">Germany</td>
					<td class="py-[5px] px-[10px]">68</td>
					<td class="py-[5px] px-[10px]">69.5</td>
					<td class="py-[5px] px-[10px]">70</td>
					<td class="py-[5px] px-[10px] text-right">+8</td>
				</tr>

				<tr class="live-row low cursor-pointer rounded-lg hover:bg-lightgrey">
					<td class="whitespace-nowrap py-[5px] px-[10px] text-lightblue">
						United States
					</td>
					<td class="py-[5px] px-[10px] text-lightblue">68</td>
					<td class="py-[5px] px-[10px] text-lightred">69.5</td>
					<td class="py-[5px] px-[10px] text-lightgreen">70</td>
					<td class="py-[5px] px-[10px] text-right">+8</td>
				</tr>
				<tr class="live-row high cursor-pointer rounded-lg hover:bg-lightgrey">
					<td class="whitespace-nowrap py-[5px] px-[10px]">Germany</td>
					<td class="py-[5px] px-[10px]">68</td>
					<td class="py-[5px] px-[10px]">69.5</td>
					<td class="py-[5px] px-[10px]">70</td>
					<td class="py-[5px] px-[10px] text-right">+8</td>
				</tr>
				<tr class="live-row cursor-pointer rounded-lg hover:bg-lightgrey">
					<td class="whitespace-nowrap py-[5px] px-[10px]">Germany</td>
					<td class="py-[5px] px-[10px]">68</td>
					<td class="py-[5px] px-[10px]">69.5</td>
					<td class="py-[5px] px-[10px]">70</td>
					<td class="py-[5px] px-[10px] text-right">+8</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="break-inside-avoid bg-red-400">
		<ul>
			<li>1</li>
			<li>2</li>
			<li>3</li>
		</ul>
	</div>
	<div class="break-inside-avoid bg-green-400">
		<ul>
			<li>1</li>
			<li>2</li>
			<li>3</li>
			<li>4</li>
			<li>5</li>
			<li>1</li>
			<li>2</li>
			<li>3</li>
			<li>4</li>
			<li>5</li>
		</ul>
	</div>
	<div class="break-inside-avoid bg-pink-400">
		<ul>
			<li>1</li>
			<li>2</li>
			<li>3</li>
			<li>2</li>
			<li>3</li>
			<li>4</li>
			<li>5</li>
		</ul>
	</div>
	<div class="break-inside-avoid bg-orange-300">
		<ul>
			<li>1</li>
			<li>2</li>
			<li>3</li>
			<li>2</li>
			<li>3</li>
			<li>4</li>
			<li>5</li>
		</ul>
	</div>
</section>
