<!-- [START] HTML Header -->
<header class="shadow-sm">
	<div class="container">
		<div class="flex items-center justify-between py-4 md:py-5">
			<a href=" #" class="z-20 flex">Logo</a>
			<!-- Desktop menu -->
			<ul
				id="menu"
				class="z-10 flex animate-fadeIn items-center gap-14 lg:text-red-300 md:gap-10 sm:hidden sm:flex-col sm:items-center sm:justify-center"
			>
				<!-- Menu Item -->
				<li class="text-black/70 transition-colors hover:text-black">
					<a href="#">
						<span>Home</span>
					</a>
				</li>
				<!-- Menu Item With Submenu -->
				<li
					class="group relative text-black/70 transition-colors hover:text-black"
				>
					<a href="#" class="flex items-center gap-2">
						<span>Products</span>
						<svg
							width="24"
							height="24"
							viewBox="0 0 24 24"
							fill="none"
							class="transition-transform group-hover:rotate-180"
							xmlns="http://www.w3.org/2000/svg"
						>
							<path
								d="M7 10L12 15L17 10"
								stroke="black"
								stroke-opacity="1"
								stroke-width="2"
								stroke-linecap="round"
								stroke-linejoin="round"
							/>
						</svg>

						<ul
							class="absolute top-full left-0 hidden min-w-max border border-gray-100 bg-white shadow-sm group-hover:grid"
						>
							<li>
								<a class="flex py-1 px-3 hover:bg-gray-100" href="#"
									>Product 1</a
								>
							</li>
							<li>
								<a class="flex py-1 px-3 hover:bg-gray-100" href="#"
									>Product 2</a
								>
							</li>
							<li>
								<a class="flex py-1 px-3 hover:bg-gray-100" href="#"
									>Product 3</a
								>
							</li>
						</ul>
					</a>
				</li>
				<!-- Menu Item -->
				<li class="text-black/70 transition-colors hover:text-black">
					<a href="#">
						<span>Solution</span>
					</a>
				</li>
				<!-- Menu Item -->
				<li class="text-black/70 transition-colors hover:text-black">
					<a href="#">
						<span>Features</span>
					</a>
				</li>
				<!-- Menu Item -->
				<li class="text-black/70 transition-colors hover:text-black">
					<a href="#">
						<span>About Us</span>
					</a>
				</li>
			</ul>

			<!-- Mobile menu -->
			<ul
				id="mobile-menu"
				class="fixed left-0 right-0 top-0 bottom-0 z-10 hidden h-screen w-screen flex-col items-center justify-center gap-14 overflow-auto bg-slate-900 py-10"
			>
				<li>
					<a href="#" class="text-3xl text-white/80"> Home </a>
				</li>

				<!-- Menu Item With Submenu -->
				<li
					class="with-submenu relative text-3xl text-white/80 transition-colors"
				>
					<a href="#" class="flex items-center gap-2">
						<span class="submenu-trigger">Products</span>
						<svg
							width="24"
							height="24"
							viewBox="0 0 24 24"
							fill="none"
							class="submenu-icon transition-transform group-hover:rotate-180"
							xmlns="http://www.w3.org/2000/svg"
						>
							<path
								d="M7 10L12 15L17 10"
								stroke="white"
								stroke-opacity="1"
								stroke-width="3"
								stroke-linecap="round"
								stroke-linejoin="round"
							/>
						</svg>

						<ul class="submenu hidden">
							<li>
								<a class="flex py-1 px-3 text-xl" href="google.com"
									>Product 1</a
								>
							</li>
							<li>
								<a class="flex py-1 px-3 text-xl" href="#">Product 2</a>
							</li>
							<li>
								<a class="flex py-1 px-3 text-xl" href="#">Product 3</a>
							</li>
						</ul>
					</a>
				</li>

				<li>
					<a href="#" class="text-3xl text-white/80"> About Us </a>
				</li>
				<li>
					<a href="#" class="text-3xl text-white/80"> Features </a>
				</li>
				<li>
					<a href="#" class="text-3xl text-white/80"> Solution </a>
				</li>
			</ul>

			<!-- Burger Button -->
			<button
				id="burger"
				class="group relative z-20 hidden h-5 w-[30px] sm:block"
			>
				<span
					class="absolute left-0 top-0 flex h-[2px] w-[30px] bg-black transition-transform group-[.active]:translate-y-2 group-[.active]:rotate-45 group-[.active]:bg-white"
				></span>
				<span
					class="absolute left-0 top-1/2 flex h-[2px] w-[30px] translate-x-0 -translate-y-1/2 bg-black transition-transform group-[.active]:opacity-0"
				></span>
				<span
					class="absolute left-0 bottom-0 flex h-[2px] w-[30px] bg-black transition-transform group-[.active]:-translate-y-[10px] group-[.active]:-rotate-45 group-[.active]:bg-white"
				></span>
			</button>
		</div>
	</div>
</header>
<!-- [END] HTML Header -->

<!-- [START] JavaScript Header -->
<script>
	// Mobile Menu Burger
	function burgerMenu() {
		const menu = document.querySelector('#mobile-menu')
		const burger = document.querySelector('#burger')
		const body = document.querySelector('body')

		burger.addEventListener('click', () => {
			burger.classList.toggle('active')
			menu.classList.toggle('hidden')
			menu.classList.toggle('flex')
			body.classList.toggle('overflow-hidden')
		})

		// Вот тут мы ставим брейкпоинт навбара
		window.addEventListener('resize', () => {
			if (window.innerWidth > 991.98) {
				menu.classList.add('hidden')
				menu.classList.remove('flex')
				burger.classList.remove('active')
				body.classList.remove('overflow-hidden')
			}
		})
	}
	burgerMenu()

	// !!!! SLIDE ANIMATION REQUIRED IF YOU HAVE SUBMENU !!!!!
	function toggleSubmenu() {
		const submenuTrigger = document.querySelectorAll('.with-submenu')
		const submenus = document.querySelectorAll('.submenu')
		const submenuIcons = document.querySelectorAll('.submenu-icon')

		submenuTrigger.forEach((trigger, idx) => {
			trigger.addEventListener('click', (e) => {
				if (
					e.target.classList.contains('submenu-trigger') ||
					e.target.classList.contains('submenu-icon')
				) {
					slideToggle(submenus[idx])
					submenuIcons[idx].classList.toggle('rotate-180')
				}
			})
		})
	}
	toggleSubmenu()
</script>
<!-- [END] JavaScript Header -->
