<!-- [START] HTML Select  -->
<div class="relative">
	<div
		id="select"
		class="cursor-pointer bg-white pr-8 transition duration-300 ease-in-out sm:pr-6"
	>
		<span id="selected-option" class="text-lightblue">Canada</span>
		<div class="arrow absolute top-0 right-0 mt-1 mr-2 sm:mt-[2px]">
			<svg
				width="16"
				height="16"
				class="transition-transform"
				viewBox="0 0 16 16"
				fill="none"
				xmlns="http://www.w3.org/2000/svg"
			>
				<path
					d="M3.33301 6H12.6663L8.47101 10.1953C8.34599 10.3203 8.17645 10.3905 7.99967 10.3905C7.8229 10.3905 7.65336 10.3203 7.52834 10.1953L3.33301 6Z"
					fill="#2F80ED"
				/>
			</svg>
		</div>
	</div>
	<div
		id="options"
		class="absolute z-10 mt-1 hidden min-w-max transform rounded-md border bg-white shadow-sm transition-all duration-300 ease-in-out"
	>
		<ul class="grid">
			<li class="option cursor-pointer py-1 px-2 hover:bg-gray-100">Canada</li>
			<li class="option cursor-pointer py-1 px-2 hover:bg-gray-100">Germany</li>
			<li class="option cursor-pointer py-1 px-2 hover:bg-gray-100">USA</li>
			<li class="option cursor-pointer py-1 px-2 hover:bg-gray-100">France</li>
		</ul>
	</div>
</div>
<!-- [END] HTML Select  -->

<!-- [START] JavaScript Select  -->
<script>
	function initializeCustomSelect(selectId, optionsId, selectedOptionId) {
		const customSelect = document.getElementById(selectId)
		const selectedOption = document.getElementById(selectedOptionId)
		const customOptions = document.getElementById(optionsId)
		const options = customOptions.getElementsByClassName('option')

		customSelect.addEventListener('click', () => {
			customOptions.classList.toggle('hidden')
			const arrow = customSelect.querySelector('.arrow svg')
			arrow.style.transform = customOptions.classList.contains('hidden')
				? 'rotate(0deg)'
				: 'rotate(180deg)'
		})

		for (let option of options) {
			option.addEventListener('click', () => {
				selectedOption.innerText = option.innerText
				customOptions.classList.add('hidden')
				const arrow = customSelect.querySelector('.arrow svg')
				arrow.style.transform = 'rotate(0deg)'
			})
		}

		document.addEventListener('click', (event) => {
			const target = event.target
			if (!customSelect.contains(target) && !customOptions.contains(target)) {
				customOptions.classList.add('hidden')
				const arrow = customSelect.querySelector('.arrow svg')
				arrow.style.transform = 'rotate(0deg)'
			}
		})
	}
	initializeCustomSelect('select', 'options', 'selected-option')
</script>
<!-- [END] JavaScript Select  -->
