<!-- [START] HTML Tabs -->
<div id="tabs" class="tabs mt-20">
	<div class="tabs-header flex items-center gap-4">
		<button class="tab-trigger active group">
			<span
				class="animate-fadeIn transition-colors group-[.active]:text-blue-800"
				>First</span
			>
		</button>
		<button class="tab-trigger group">
			<span
				class="animate-fadeIn transition-colors group-[.active]:text-blue-800"
				>Second</span
			>
		</button>
		<button class="tab-trigger group">
			<span
				class="animate-fadeIn transition-colors group-[.active]:text-blue-800"
				>Third</span
			>
		</button>
		<button class="tab-trigger group">
			<span
				class="animate-fadeIn transition-colors group-[.active]:text-blue-800"
				>Fourth</span
			>
		</button>
		<button class="tab-trigger group">
			<span
				class="animate-fadeIn transition-colors group-[.active]:text-blue-800"
				>Fifth</span
			>
		</button>
	</div>

	<div class="tabs-content mt-5">
		<div
			class="tab-content animate-fadeIn items-center justify-center bg-cyan-200 text-7xl"
		>
			1
		</div>
		<div
			class="tab-content hidden animate-fadeIn items-center justify-center bg-cyan-200 text-7xl"
		>
			2
		</div>
		<div
			class="tab-content hidden animate-fadeIn items-center justify-center bg-cyan-200 text-7xl"
		>
			3
		</div>
		<div
			class="tab-content hidden animate-fadeIn items-center justify-center bg-cyan-200 text-7xl"
		>
			4
		</div>
		<div
			class="tab-content hidden animate-fadeIn items-center justify-center bg-cyan-200 text-7xl"
		>
			5
		</div>
	</div>
</div>
<!-- [END] HTML Tabs -->

<!-- [START] JavaScript Tabs -->
<script>
	function toggleTabs(tabsId) {
		// Get main element
		const tabs = document.getElementById(tabsId)
		// Get all the tabs triggers and contents
		const tabsTriggers = tabs.querySelectorAll('.tab-trigger')
		const tabsContents = tabs.querySelectorAll('.tab-content')

		// Add a click event listener to each tabs trigger
		tabsTriggers.forEach((trigger, index) => {
			trigger.addEventListener('click', () => {
				// Remove the "active" class from all tabs triggers
				tabsTriggers.forEach((t) => t.classList.remove('active'))
				// Add the "activity" class to the clicked tabs trigger
				trigger.classList.add('active')

				// Hide all tabs contents
				tabsContents.forEach((content) => content.classList.add('hidden'))
				// Show the corresponding tabs content
				tabsContents[index].classList.remove('hidden')
			})
		})
	}

	// ID of the main tab block
	// ID основного блока с табами
	toggleTabs('tabs')
</script>
<!-- [END] JavaScript Tabs -->
