@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
	scrollbar-gutter: stable !important;
}

@layer base {
	body {
		@apply relative bg-main-black font-archivo text-white;
	}

	h1 {
		@apply text-[52px] font-bold leading-[64px];
	}

	h2 {
		@apply text-4xl font-medium leading-[42px];
	}

	h3 {
		@apply text-[32px] font-medium leading-[40px];
	}

	h4 {
		@apply text-2xl font-medium leading-[28px];
	}

	h5 {
		@apply text-xl font-medium leading-[24px];
	}
}

@layer components {
	/* Text */
	.text-body-lg {
		@apply text-xl leading-[24px];
	}
	.text-body-lg-medium {
		@apply text-xl font-medium leading-[24px];
	}
	.text-body-lg-bold {
		@apply text-xl font-bold leading-[24px];
	}
	.text-body-m {
		@apply text-base leading-[24px];
	}
	.text-body-m-medium {
		@apply text-base font-medium leading-[24px];
	}
	.text-body-m-bold {
		@apply text-base font-bold leading-[24px];
	}
	.text-body-s {
		@apply text-sm leading-[18px];
	}
	.text-body-s-medium {
		@apply text-sm font-medium leading-[18px];
	}
	.text-body-s-bold {
		@apply text-sm font-bold leading-[18px];
	}
	.text-body-xs {
		@apply text-xs leading-[16px];
	}
	.text-body-xs-medium {
		@apply text-xs font-medium leading-[16px];
	}
	.text-body-xs-bold {
		@apply text-xs font-bold leading-[16px];
	}
	.text-body-x {
		@apply text-[10px] leading-[14px];
	}
	.text-body-x-medium {
		@apply text-[10px] font-medium leading-[14px];
	}
	.text-body-x-bold {
		@apply text-[10px] font-bold leading-[14px];
	}

	/* Buttons */
	.btn {
		@apply flex w-full items-center justify-center rounded-[8px] bg-lightgreen text-main-black transition-colors hover:bg-lightgreen-hovered;
	}
	.btn-large {
		@apply text-body-m py-4;
	}
	.btn-small {
		@apply text-body-s-medium p-[9px];
	}
	.btn-blue {
		@apply bg-lightblue transition-colors hover:bg-lightblue-hovered;
	}
	.btn-red {
		@apply bg-lightred transition-colors hover:bg-lightred-hovered;
	}

	/* Form Items */
	.input-label {
		@apply relative flex w-full flex-col gap-1;
	}
	.input-large {
		@apply text-body-m w-full rounded-[8px] border-[#3C4547] bg-transparent py-[15px] px-5 placeholder:text-greytext focus:border-lightgreen focus:ring-0 focus:ring-offset-0;
	}
	.input-small {
		@apply text-body-s w-full rounded-[8px] border-[#3C4547] bg-transparent py-2 px-3 placeholder:text-greytext focus:border-lightgreen focus:ring-0 focus:ring-offset-0;
	}

	/* Market Status */
	.market-status {
		@apply text-body-s-medium rounded-lg py-2 px-4;
	}
	.market-status.closed {
		@apply bg-lightred/[0.12] text-lightred;
	}
	.market-status.open {
		@apply bg-lightgreen/[0.12] text-lightgreen;
	}

	/* Tournament-Button */
	.tournament-button {
		@apply text-body-xs-medium sm:text-body-x flex max-w-fit items-center justify-center gap-2 rounded-lg border border-transparent bg-darkgrey p-3 uppercase hover:border-lightgreen sm:p-2;
	}
	.tournament-button.active {
		@apply border-lightgreen;
	}

	/* Live Table Row */
	.live-row {
		@apply relative flex cursor-pointer gap-5 overflow-hidden rounded-lg px-[10px] py-[5px] hover:bg-lightgrey;
	}
	.live-row.live-row-green {
		@apply after:absolute after:top-0 after:bottom-0 after:w-full after:rotate-180 after:bg-green-gradient after:opacity-10;
	}
	.live-row.live-row-red {
		@apply after:absolute after:top-0 after:bottom-0 after:w-full after:rotate-180 after:bg-red-gradient after:opacity-10;
	}
	.live-row.live-row-grey {
		@apply after:absolute after:top-0 after:bottom-0 after:w-full after:rotate-180 after:bg-grey-gradient after:opacity-10;
	}
}

/* Table */
table tr td:last-child {
	border-radius: 0 10px 10px 0;
}
table tr td:first-child {
	border-radius: 10px 0 0 10px;
}
thead {
	position: sticky;
	top: 0px;
	background: #1a2427;
	z-index: 10;
}
thead::after {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 1px;
	background: #3c4547;
	content: '';
}

/* Scrollbar */
/* width */
::-webkit-scrollbar {
	width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #2c3638;
	border-radius: 100px;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #4a5254;
	border-radius: 100px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #555;
}
